<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1> Welcome to Chat App area</h1>
	<h2>
		This is the home apge for the <a href="#">Chat App</a>.
	</h2>
	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary"%>
</div>
<%= link_to image_tag("rails.png", alt: "Chat App"), '#' %>
